* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.enclose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
