* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f5f7;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body {
  background-color: #1fe654;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 10rem;
  padding-block: 5rem;
  border-radius: 0.4rem;
}
.main-body h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
