* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f5f7;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body {
  background-color: #1fe654;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;
  border-radius: 0.4rem;
}
.main-body h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-body p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.answer-box {
  border: 1px solid black;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
