* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6fe6fc;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;
  border-radius: 0.4rem;
}
.time-box {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  background-color: white;
}
.main-body h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-body p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.answer-box {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}
.input-box {
  display: flex;
  gap: 1rem;
}
.control-button {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-button button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #006bff;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}
.control-button button:hover {
  background-color: #045edd;
}
